@import "tailwindcss";
@import "tailwindcss";

.yellowtail-regular {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    color: #7EB693;
    font-size: 36px;
}

.Natural {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 36px;
}